@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: #ffffff;
    font-family: var(--font-inter);
  }
}
